meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
meta name="viewport" content="width=device-width, initial-scale=1.0"
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://code.jquery.com/jquery-3.4.0.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
